<div class="container">
  <h1>Hacker News</h1>

  <form class="login" action="/create_user" method="post" >
    <label>Title<br><input type="text" name="title"/></label><br>
    
    <label>Text<br><input type="text" name="text"/></label><br><br>

    <input type="submit" name="submit" value="create profile">
  </form>
  <br><br><br><br>
</div>
