<div class="container">
  <h1>Hacker News</h1>
  
  <% if @error %>
    <h2> <%= @error %> </h2>
  <% end %>

  <table>

    <tr>
      <th>Hacker Posts</th>
    </tr>

    <tr>
      <td> 
         <% Post.all.each do |post|%> 
         <br>
          <a href="thread/<%=post.id%>" > <%=post.title%> </a>
        <% end %>
        
      </td>
    </tr>

  </table>
  <br><br><br>
  <a href="/login" > Login Page </a><br><br>
  <a href="/logout" > Logout </a><br><br>
  <a href="/create_post" > Create Post </a>
</div>
